In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
df_credits=pd.read_csv("tmdb_5000_credits.csv")
df_movies=pd.read_csv("tmdb_5000_movies.csv")

In [4]:
df_credits.rename(columns={'movie_id':'id'}, inplace=True)
df_credits.head()

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:

df_movies.sample()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
1743,27500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/1394/Octopussy/,700,"[{""id"": 1815, ""name"": ""atomic bomb""}, {""id"": 2...",en,Octopussy,James Bond is sent to investigate after a fell...,25.633663,"[{""name"": ""Eon Productions"", ""id"": 7576}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",1983-06-05,187500000,131.0,"[{""iso_639_1"": ""de"", ""name"": ""Deutsch""}, {""iso...",Released,James Bond’s all time high.,Octopussy,6.2,527

In [6]:
df=pd.merge(df_credits, df_movies, on="id")
df.head()

,id,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [7]:
df.columns

Index(['id', 'title_x', 'cast', 'crew', 'budget', 'genres', 'homepage',
       'keywords', 'original_language', 'original_title', 'overview',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title_y', 'vote_average', 'vote_count'],
      dtype='object')

In [8]:
df=df[['id', 'title_x', 'cast', 'crew', 'genres', 'keywords', 'overview', 'popularity','production_companies','release_date', 'revenue','vote_average','vote_count']]
df.rename(columns={'title_x':'title'}, inplace=True)
df.head()

,id,title,cast,crew,genres,keywords,overview,popularity,production_companies,release_date,revenue,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,6.9,4500
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,6.3,4466
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,7.6,9106
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,6.1,2124

# Handling categorical data

In [9]:
df.cast[0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [10]:
import ast
# cast=ast.literal_eval(df.cast[0])
# cast

def top_cast(col):
    l=[]
    col1=ast.literal_eval(col)
    na=col1[:3]
    for i in na:
        l.append(i['name'])
    return l

In [11]:
df['cast']=df['cast'].apply(top_cast)
df.head()

,id,title,cast,crew,genres,keywords,overview,popularity,production_companies,release_date,revenue,vote_average,vote_count
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,6.9,4500
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,6.3,4466
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,7.6,9106
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,6.1,2124

In [12]:
df_copy=df
df_copy.sample()

,id,title,cast,crew,genres,keywords,overview,popularity,production_companies,release_date,revenue,vote_average,vote_count
2299,25195,Leap Year,"[Amy Adams, Matthew Goode, Adam Scott]","[{""credit_id"": ""52fe44bdc3a368484e034131"", ""de...","[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...","[{""id"": 444, ""name"": ""taxi""}, {""id"": 1010, ""na...",When yet another anniversary passes without a ...,21.959742,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",2010-01-08,29922472,6.4,465

In [13]:
df_copy.isnull().sum()

id                      0
title                   0
cast                    0
crew                    0
genres                  0
keywords                0
overview                3
popularity              0
production_companies    0
release_date            1
revenue                 0
vote_average            0
vote_count              0
dtype: int64

In [14]:
# df_copy['crew']=df_copy['crew'].apply(top_cast)
# df_copy.sample()

# kyu error ata malum nei
# def director(col,**kwargs):
#     l=[]
    
#     col1=ast.literal_eval(col)
#     counter=kwargs.get('n',len(col1))
#     if counter>=0:
#         if col1[counter]['job']=='director':
#             l.append(col1[counter]['name'])
#             return l
#         else:
#             counter=counter-1
#             director(col,n=counter)
#     else:
#         return "no director"

def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [15]:
df_copy['crew']=df_copy['crew'].apply(fetch_director)
df_copy.sample()

,id,title,cast,crew,genres,keywords,overview,popularity,production_companies,release_date,revenue,vote_average,vote_count
3154,37737,Kites,"[Hrithik Roshan, Bárbara Mori, Kabir Bedi]",[Anurag Basu],"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",[],"In the harsh terrain of the Mexican desert, a ...",4.807549,"[{""name"": ""Bollywood Hollywood Production"", ""i...",2010-05-21,0,6.0,40

In [16]:
df_copy.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
def gen(col):
    l=[]
    for i in ast.literal_eval(col):
        l.append(i['name']) 
    return l

In [18]:
df_copy["genres"]=df_copy["genres"].apply(gen)
df_copy.head()

,id,title,cast,crew,genres,keywords,overview,popularity,production_companies,release_date,revenue,vote_average,vote_count
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,6.9,4500
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,6.3,4466
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,7.6,9106
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,6.1,2124

In [19]:
df_copy.keywords[0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [20]:
df_copy["keywords"]=df_copy["keywords"].apply(gen)
df_copy.head()

,id,title,cast,crew,genres,keywords,overview,popularity,production_companies,release_date,revenue,vote_average,vote_count
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,6.9,4500
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,6.3,4466
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,7.6,9106
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,6.1,2124

In [21]:
df_copy.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [22]:
df_copy.overview.dtype

dtype('O')

In [23]:
df_copy.overview=df_copy.overview.fillna('')
df_copy['overview'] = df_copy['overview'].apply(lambda x:x.split())
df_copy.overview[0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [24]:
df_copy.production_companies[0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [25]:
df_copy.production_companies=df_copy.production_companies.apply(gen)
df_copy.production_companies[0]

['Ingenious Film Partners',
 'Twentieth Century Fox Film Corporation',
 'Dune Entertainment',
 'Lightstorm Entertainment']

In [26]:
df_copy.sample()

,id,title,cast,crew,genres,keywords,overview,popularity,production_companies,release_date,revenue,vote_average,vote_count
4555,98568,Enter Nowhere,"[Katherine Waterston, Scott Eastwood, Sara Pax...",[Jack Heller],"[Mystery, Science Fiction, Thriller]","[cabin, time travel, woods, cabin in the woods...","[Three, strangers, arrive, one, by, one, to, a...",3.637857,[Caliber Media Company],2011-10-22,0,6.5,49

Removing stop words:

In [27]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
df_copy.overview=df_copy.overview.apply(lambda x:[i for i in x if i not in stop])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\fer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [28]:
df_copy.overview[0]

['In',
 '22nd',
 'century,',
 'paraplegic',
 'Marine',
 'dispatched',
 'moon',
 'Pandora',
 'unique',
 'mission,',
 'becomes',
 'torn',
 'following',
 'orders',
 'protecting',
 'alien',
 'civilization.']

Now lets join the words of cast, crew to make it look like words in instagram hastags.

In [29]:
df_copy.columns

Index(['id', 'title', 'cast', 'crew', 'genres', 'keywords', 'overview',
       'popularity', 'production_companies', 'release_date', 'revenue',
       'vote_average', 'vote_count'],
      dtype='object')

In [30]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

df_copy.cast=df_copy.cast.apply(collapse)
df_copy.crew=df_copy.crew.apply(collapse)
df_copy.genres=df_copy.genres.apply(collapse)
df_copy.keywords=df_copy.keywords.apply(collapse)
df_copy.production_companies=df_copy.production_companies.apply(collapse)
df_copy.head()

,id,title,cast,crew,genres,keywords,overview,popularity,production_companies,release_date,revenue,vote_average,vote_count
0,19995,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, 22nd, century,, paraplegic, Marine, dispa...",150.437577,"[IngeniousFilmPartners, TwentiethCenturyFoxFil...",2009-12-10,2787965087,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, dead,, co...",139.082615,"[WaltDisneyPictures, JerryBruckheimerFilms, Se...",2007-05-19,961000000,6.9,4500
2,206647,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, Bond’s, past, sends, tra...",107.376788,"[ColumbiaPictures, Danjaq, B24]",2015-10-26,880674609,6.3,4466
3,49026,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, death, District, Attorney, Harvey,...",112.312950,"[LegendaryPictures, WarnerBros., DCEntertainme...",2012-07-16,1084939099,7.6,9106
4,49529,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, war-weary,, former, military, c...",43.926995,[WaltDisneyPictures],2012-03-07,284139100,6.1,2124

In [31]:
df_copy['hashtags']=df_copy.cast+df_copy.crew+df_copy.genres+df_copy.keywords+df_copy.production_companies
df_copy.hashtags[0]

['SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'IngeniousFilmPartners',
 'TwentiethCenturyFoxFilmCorporation',
 'DuneEntertainment',
 'LightstormEntertainment']

In [32]:
df_copy.drop(columns=['overview','genres','keywords','cast','crew','production_companies'], inplace=True)
df_copy.head()

,id,title,popularity,release_date,revenue,vote_average,vote_count,hashtags
0,19995,Avatar,150.437577,2009-12-10,2787965087,7.2,11800,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ..."
1,285,Pirates of the Caribbean: At World's End,139.082615,2007-05-19,961000000,6.9,4500,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Gor..."
2,206647,Spectre,107.376788,2015-10-26,880674609,6.3,4466,"[DanielCraig, ChristophWaltz, LéaSeydoux, SamM..."
3,49026,The Dark Knight Rises,112.312950,2012-07-16,1084939099,7.6,9106,"[ChristianBale, MichaelCaine, GaryOldman, Chri..."
4,49529,John Carter,43.926995,2012-03-07,284139100,6.1,2124,"[TaylorKitsch, LynnCollins, SamanthaMorton, An..."

In [33]:
df_copy.hashtags=df_copy.hashtags.apply(lambda x: ' '.join(x))
df_copy.head()

,id,title,popularity,release_date,revenue,vote_average,vote_count,hashtags
0,19995,Avatar,150.437577,2009-12-10,2787965087,7.2,11800,SamWorthington ZoeSaldana SigourneyWeaver Jame...
1,285,Pirates of the Caribbean: At World's End,139.082615,2007-05-19,961000000,6.9,4500,JohnnyDepp OrlandoBloom KeiraKnightley GoreVer...
2,206647,Spectre,107.376788,2015-10-26,880674609,6.3,4466,DanielCraig ChristophWaltz LéaSeydoux SamMende...
3,49026,The Dark Knight Rises,112.312950,2012-07-16,1084939099,7.6,9106,ChristianBale MichaelCaine GaryOldman Christop...
4,49529,John Carter,43.926995,2012-03-07,284139100,6.1,2124,TaylorKitsch LynnCollins SamanthaMorton Andrew...

In [34]:
df_copy.hashtags=df_copy.hashtags.apply(lambda x: x.lower())
df_copy.sample()

,id,title,popularity,release_date,revenue,vote_average,vote_count,hashtags
3076,25520,The House of Mirth,3.007816,2000-09-23,5164404,6.4,25,gilliananderson danaykroyd eleanorbron terence...

## lets do demographic filtering recommendation.

I will be using the IMDB's method to rank movies for this section.

In [35]:
df_demographic=df_copy[['title','vote_average','vote_count']]
print(df_demographic.shape)
df_demographic.head()

(4803, 3)

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124

In [36]:
# def weightage(dx):
#     v=dx['vote_count']
#     r=dx['vote_average']
#     c=r.mean()
#     m=v.quantile(0.9)
#     return (v/(v+m)*r)+(m/(m+v)*c)

# v=number of votes in the movie
# m=min no. of votes required to be on the list
# r=avg rating of the movie
# c=mean votes across the whole report.

In [37]:
df_demographic = df_demographic[df_demographic['vote_count']>=df_demographic['vote_count'].quantile(0.9)]
df_demographic.shape

(481, 3)

as we can see, we filtered a lot of movies.

In [38]:
# df_demographic['weight']=df_demographic.apply(weightage, axis=1)
# df_demographic.head()

#strange error: 'float' object has no attribute 'mean'

In [39]:
df_demographic.dtypes

title            object
vote_average    float64
vote_count        int64
dtype: object

In [40]:
V = df_demographic['vote_count']
R = df_demographic['vote_average']
C = df_demographic['vote_average'].mean()
m = df_demographic['vote_count'].quantile(0.9)

df_demographic['w_average'] = (V/(V+m) * R) + (m/(m+V) * C)
print(df_demographic.shape)
df_demographic.head()

(481, 4)

,title,vote_average,vote_count,w_average
0,Avatar,7.2,11800,7.118598
1,Pirates of the Caribbean: At World's End,6.9,4500,6.936434
2,Spectre,6.3,4466,6.684685
3,The Dark Knight Rises,7.6,9106,7.342638
4,John Carter,6.1,2124,6.742071

In [41]:
df_demographic = df_demographic.sort_values('w_average', ascending=False)
df_demographic.head()

                         title  vote_average  vote_count  w_average
1881  The Shawshank Redemption           8.5        8205   7.840107
65             The Dark Knight           8.2       12002   7.779860
662                 Fight Club           8.3        9413   7.770465
96                   Inception           8.1       13752   7.747742
3232              Pulp Fiction           8.3        8428   7.734741

Now we will go for content based filtering.

## Content based recomendation:

In [42]:
df_content=df_copy[['title','hashtags']]
df_content.head()

,title,hashtags
0,Avatar,samworthington zoesaldana sigourneyweaver jame...
1,Pirates of the Caribbean: At World's End,johnnydepp orlandobloom keiraknightley gorever...
2,Spectre,danielcraig christophwaltz léaseydoux sammende...
3,The Dark Knight Rises,christianbale michaelcaine garyoldman christop...
4,John Carter,taylorkitsch lynncollins samanthamorton andrew...

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english',max_features=5000) #stopwords agey hi nikal dia, fir bhi dekhte hai.
tfidf_matrix = tfidf.fit_transform(df_content['hashtags'])
tfidf_matrix.shape

(4803, 5000)

In [49]:
tfidf_matrix=tfidf_matrix.toarray()

In [50]:
tfidf_matrix[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [51]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(tfidf_matrix)
similarity

array([[1.        , 0.02400517, 0.0198508 , ..., 0.01202622, 0.        ,
        0.        ],
       [0.02400517, 1.        , 0.02213246, ..., 0.        , 0.        ,
        0.        ],
       [0.0198508 , 0.02213246, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.01202622, 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [52]:
tfidf.get_feature_names()

c:\Users\fer\anaconda3\envs\deep\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['1492pictures',
 '18thcentury',
 '1910s',
 '1930s',
 '1940s',
 '1950s',
 '1960s',
 '1970s',
 '1980s',
 '1984privatedefensecontractors',
 '1990s',
 '19thcentury',
 '1kg',
 '21lapsentertainment',
 '21stcentury',
 '2929productions',
 '3artsentertainment',
 '3d',
 '40acres',
 '5150action',
 'a24',
 'aardmananimations',
 'aaroneckhart',
 'aaronseltzer',
 'aarontaylor',
 'abandapart',
 'abbiecornish',
 'abigailbreslin',
 'aborigine',
 'abrams',
 'absurdism',
 'abuse',
 'abusivehusband',
 'accident',
 'ace',
 'action',
 'actionhero',
 'activist',
 'actor',
 'actress',
 'adambrody',
 'adamgarcia',
 'adammckay',
 'adamrifkin',
 'adamsandler',
 'adamscott',
 'adamshankman',
 'adaptation',
 'addiction',
 'adolescence',
 'adolfhitler',
 'adoption',
 'adoptivefather',
 'adrianlyne',
 'adrienbrody',
 'adultanimation',
 'adultery',
 'advancement',
 'adventure',
 'advice',
 'affair',
 'affc',
 'affection',
 'affirmfilms',
 'afghanistan',
 'africa',
 'africanamerican',
 'aftercreditsstinger',
 'afterdarkfilms',
 'afterlife',
 'agedifference',
 'agent',
 'aggressionbyanimal',
 'aging',
 'aidanquinn',
 'aids',
 'aimeegarcia',
 'airforce',
 'airplane',
 'airplanecrash',
 'airport',
 'akshaykumar',
 'alanalda',
 'alanarkin',
 'alanrickman',
 'alaska',
 'albertbrooks',
 'albertfinney',
 'alcatraz',
 'alcohol',
 'alcoholabuse',
 'alcoholic',
 'alcoholism',
 'alconentertainment',
 'alecbaldwin',
 'alecguinness',
 'alejandroamenábar',
 'alejandrogonzáleziñárritu',
 'alexanderpayne',
 'alexanderskarsgård',
 'alexandradaddario',
 'alexandreaja',
 'alexapenavega',
 'alexisbledel',
 'alexkendrick',
 'alexpettyfer',
 'alexproyas',
 'alfonsocuarón',
 'alfredhitchcock',
 'alfredmolina',
 'alicebraga',
 'aliciasilverstone',
 'aliciawitt',
 'alien',
 'alienabduction',
 'alienation',
 'alienattack',
 'aliencontact',
 'alieninfection',
 'alieninvasion',
 'alienlife',
 'alienphenomenons',
 'alienplanet',
 'alilarter',
 'alisonlohman',
 'allenhughes',
 'allianceatlantiscommunications',
 'alliancefilms',
 'alliedfilmmakers',
 'alligator',
 'alpacino',
 'alphavillefilms',
 'alps',
 'alterego',
 'alternatedimension',
 'alternatehistory',
 'alternatereality',
 'alternativereality',
 'alysonhannigan',
 'alzheimer',
 'amandabynes',
 'amandapeet',
 'amandaseyfried',
 'amazon',
 'amazonprimeinstantvideo',
 'ambassador',
 'amberheard',
 'ambertamblyn',
 'ambition',
 'amblinentertainment',
 'ambulance',
 'ambush',
 'amenrafilms',
 'americaferrera',
 'american',
 'americanabroad',
 'americancivilwar',
 'americandream',
 'americanempiricalpictures',
 'americanflag',
 'americanfootball',
 'americanfootballplayer',
 'americanzoetrope',
 'amnesia',
 'amsterdam',
 'amulefilmworks',
 'amusementpark',
 'amyadams',
 'amyheckerling',
 'amypoehler',
 'amyryan',
 'amysmart',
 'anaclaudiatalancón',
 'anandtucker',
 'anarchiccomedy',
 'anarchist',
 'anarchosproductions',
 'ancientchina',
 'ancientegypt',
 'ancientgreece',
 'ancientrome',
 'ancientworld',
 'andellentertainment',
 'anderson',
 'andiemacdowell',
 'andrebraugher',
 'andrewadamson',
 'andrewdavis',
 'andrewfleming',
 'andrewgarfield',
 'andrewniccol',
 'andrewstanton',
 'android',
 'andrzejbartkowiak',
 'andyfickman',
 'andygarcía',
 'andysamberg',
 'andyserkis',
 'andytennant',
 'angel',
 'angelabassett',
 'angelinajolie',
 'anger',
 'anglee',
 'animal',
 'animalattack',
 'animalhorror',
 'animallogic',
 'animation',
 'anime',
 'anjelicahuston',
 'annabellasciorra',
 'annafaris',
 'annafriel',
 'annakendrick',
 'annapurnapictures',
 'annasophiarobb',
 'annebancroft',
 'annefletcher',
 'annehathaway',
 'anneheche',
 'annemoss',
 'annettebening',
 'anonymity',
 'anonymouscontent',
 'ant',
 'anthology',
 'anthonyanderson',
 'anthonyhopkins',
 'anthonymackie',
 'anthonyrusso',
 'anthropomorphism',
 'anti',
 'antihero',
 'antisemitism',
 'antiterror',
 'antoinefuqua',
 'antoncapitalentertainment',
 'antoniobanderas',
 'antonyelchin',
 'apartheid',
 'apartment',
 'apatowproductions',
 'ape',
 'apocalypse',
 'apocalyptic',
 'apollomediadistribution',
 'appianway',
 'apprentice',
 'aquarium',
 'aramidentertainmentfund',
 'arbitrarylaw',
 'archaeologist',
 'archeology',
 'architect',
 'arctic',
 'arena',
 'argument',
 'armandassante',
 'armiehammer',
 'arminmueller',
 'armsdeal',
 'armsdealer',
 'army',
 'arnoldschwarzenegger',
 'arrangedmarriage',
 'arrest',
 'arson',
 'art',
 'arte',
 'artefrancecinéma',
 'artgallery',
 'artificialintelligence',
 'artisanentertainment',
 'artist',
 'artlinsonproductions',
 'artscouncilofengland',
 'artthief',
 'asabutterfield',
 'ashleyjudd',
 'ashleytisdale',
 'ashtonkutcher',
 'assassin',
 'assassination',
 'assault',
 'assaultrifle',
 'assistant',
 'asteroid',
 'astralmedia',
 'astronaut',
 'asylum',
 'atheist',
 'athlete',
 'atlanticocean',
 'atlasentertainment',
 'atmosphereentertainmentmm',
 'atomegoyan',
 'atomicbomb',
 'attack',
 'attemptedmurder',
 'attempttoescape',
 'attic',
 'auction',
 'audition',
 'audreytautou',
 'auntniecerelationship',
 'australia',
 'australianfilmfinancecorporation',
 'australianoutback',
 'austria',
 'author',
 'autism',
 'auto',
 'automatikentertainment',
 'automobileracing',
 'autoritianeducation',
 'avcoembassypictures',
 'averypix',
 'awkwardness',
 'ax',
 'babelsbergfilm',
 'baby',
 'babysitter',
 'bacfilms',
 'bachelor',
 'backpacker',
 'badboss',
 'badhatharryproductions',
 'badluck',
 'badmother',
 'badrobot',
 'bagdasarianproductions',
 'bagoverhead',
 'bahamas',
 'baldwinentertainmentgroup',
 'ball',
 'ballet',
 'balloon',
 'baltasarkormákur',
 'baltimoremaryland',
 'baltimorepictures',
 'baltimorespringcreekproductions',
 'bammargera',
 'band',
 'bandaivisualcompany',
 'bangkok',
 'bank',
 'banker',
 'banking',
 'bankrobber',
 'bankrobbery',
 'bar',
 'barbarahershey',
 'barbarian',
 'barbrastreisand',
 'barcelonaspain',
 'barfight',
 'barn',
 'barrycook',
 'barrylevinson',
 'barrymendelproductions',
 'barrypepper',
 'barrysonnenfeld',
 'barsandrestaurants',
 'baseball',
 'baseballbat',
 'basedonarticle',
 'basedoncartoon',
 'basedonchildren',
 'basedoncomicbook',
 'basedoncomicstrip',
 'basedonfairytale',
 'basedonfilm',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonshortstory',
 'basedonstagemusical',
 'basedontrueevents',
 'basedontruestory',
 'basedontvseries',
 'basedonvideogame',
 'basedonyoungadultnovel',
 'basement',
 'basketball',
 'bat',
 'bathroomhumor',
 'bathtub',
 'batman',
 'battle',
 'battleassignment',
 'battlefield',
 'battleforpower',
 'battleplanproductions',
 'bavariafilm',
 'bazelevsproduction',
 'bazluhrmann',
 'bazmarkfilms',
 'bbc',
 'bbcfilms',
 'bdsm',
 'beach',
 'beachhouse',
 'beaconcommunications',
 'beaconpictures',
 'bear',
 'beard',
 'beast',
 'beating',
 'beautifulwoman',
 'beauty',
 'beautycontest',
 'becominganadult',
 'bedfordfallscompany',
 'bedfordfallsproductions',
 'bedroom',
 'beer',
 'beforethedoorpictures',
 'beguilement',
 'beheading',
 'beijing',
 'beijingnewpicturefilmco',
 'belairentertainment',
 'belgium',
 'bell',
 'benaffleck',
 'benbarnes',
 'benchaplin',
 'benderspink',
 'benedictcumberbatch',
 'benfoster',
 'bengazzara',
 'beniciodeltoro',
 'benitomussolini',
 'benjaminbratt',
 'benkingsley',
 'bennofürmann',
 'benstiller',
 'benwhishaw',
 'berlin',
 'berniemac',
 'bestfriend',
 'bestfriendsinlove',
 'bet',
 'beteiligungskg',
 'betrayal',
 'bettemidler',
 'bettythomas',
 'beverlydetroit',
 'beverlyhills',
 'beyoncéknowles',
 'bfi',
 'bias',
 'bible',
 'bibobergeron',
 'bigbeachfilms',
 'bigfamily',
 'bigkidpictures',
 'bigscreenproductions',
 'bigtalkproductions',
 'biker',
 'bikini',
 'billard',
 'billbellamy',
 'billcondon',
 'billewoodruff',
 'billhader',
 'billionaire',
 'billmoseley',
 'billmurray',
 'billnighy',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyburke',
 'billyconnolly',
 'billycrudup',
 'billycrystal',
 'billythekid',
 'billywilder',
 'billyzane',
 'bimdistribuzione',
 'binoculars',
 'biography',
 'biologicalweapon',
 'biology',
 'bird',
 'birnbaum',
 'birth',
 'birthday',
 'bisexual',
 'bisexuality',
 'bite',
 'bittersweet',
 'black',
 'blackandwhite',
 'blackbearpictures',
 'blackhole',
 'blackhumor',
 'blackmagic',
 'blackmail',
 'blackmen',
 'blackout',
 'blackpeople',
 'blacksmith',
 'blade',
 'blakelively',
 'blast',
 'blaxploitation',
 'bleibergentertainment',
 'blind',
 'blinddate',
 'blindingedgepictures',
 'blindness',
 'blindnessandimpairedvision',
 'blizzard',
 'blog',
 'blonde',
 'blood',
 'bloodsplatter',
 'blowjob',
 'bluegrassfilms',
 'blueprintpictures',
 'blues',
 'blueskystudios',
 'bluetulipproductions',
 'bluewolf',
 'blumhouseproductions',
 'boardingschool',
 'boat',
 'boatchase',
 'boazyakin',
 'bobbyfarrelly',
 'bobclark',
 'bobgunton',
 'bobhoskins',
 'bobodenkirk',
 'bobyariproductions',
 'body',
 'bodyexchange',
 'bodyguard',
 'bodyhorror',
 'bokeemwoodbine',
 'boldfilms',
 'bollkinobeteiligungsgmbh',
 'bollywood',
 'bomb',
 'bomber',
 'bombing',
 'bonafideproductions',
 'bonniehunt',
 'boobytrap',
 'book',
 'bookstore',
 'boredom',
 'boss',
 'boston',
 'botanist',
 'bounty',
 'bountyhunter',
 'bourgeoisie',
 'bowandarrow',
 'bowling',
 'boxer',
 'boxing',
 'boxingcatfilms',
 'boxingmatch',
 'boy',
 'boyfriend',
 'boyfriendex',
 'boyfriendgirlfriendrelationship',
 'boygenius',
 'boys',
 'bradanderson',
 'bradbird',
 'braddourif',
 'bradfurman',
 'bradgreypictures',
 'bradleycooper',
 'bradpeyton',
 'bradpitt',
 'bradsilberling',
 'bradycorbet',
 'brain',
 'braintumor',
 'brainwashing',
 'brandenburg',
 'brandont',
 'brandywineproductions',
 'bravery',
 'brawl',
 'brazil',
 'brazilian',
 'break',
 'breakdance',
 'breakingthefourthwall',
 'breast',
 'breckeisner',
 'breckinmeyer',
 'brendanfraser',
 'brendangleeson',
 'brentonthwaites',
 'brentspiner',
 'brettratner',
 'briancox',
 'briandennehy',
 'briandepalma',
 'brianhelgeland',
 'brianlevant',
 'brianrobbins',
 'briantaylor',
 'briantrenchard',
 'bride',
 'bridegroom',
 'bridesmaid',
 'bridge',
 'bridgetfonda',
 'brielarson',
 'brien',
 'brightlightpictures',
 'britain',
 'british',
 'britisharmy',
 'britishbroadcastingcorporation',
 'britishfilminstitute',
 'britishsecretservice',
 'britmarling',
 'brittanymurphy',
 'brittrobertson',
 'broadway',
 'brokenroadproductions',
 'broker',
 'brooklynnewyorkcity',
 'brooks',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothersisterrelationship',
 'bruceberesford',
 'brucecampbell',
 'brucedern',
 'brucegreenwood',
 'brucewillis',
 'brutality',
 'bryancranston',
 'bryansinger',
 'brycedallashoward',
 'buckarooentertainment',
 'budapest',
 'buddhism',
 'buddhistmonk',
 'buddycomedy',
 'buddycop',
 'bully',
 'bullying',
 'bureaucracy',
 'burglar',
 'burnedalive',
 'burrsteers',
 'burtlancaster',
 'burtreynolds',
 'bus',
 'bush',
 'business',
 'businessman',
 'butcher',
 'cabin',
 'cage',
 'cairo',
 'california',
 'camcorder',
 'camelotpictures',
 'cameronbright',
 'cameroncrowe',
 'camerondiaz',
 'camgigandet',
 'camillabelle',
 'camp',
 'campbellscott',
 'camping',
 'canada',
 'canadianfilmorvideoproductiontaxcredit',
 'canal',
 'canalplus',
 'cancer',
 'candlelightvigil',
 'cannabis',
 'cannibal',
 'cannonfilms',
 'canuxploitation',
 'capitalism',
 'capitolfilms',
 'captain',
 'captive',
 'capture',
 'car',
 'caraccident',
 'caravanpictures',
 'carbomb',
 'carchase',
 'carcrash',
 'cardgame',
 'career',
 'careymulligan',
 'cargoship',
 'caribbean',
 'carjourney',
 'carlagugino',
 'carlossaldanha',
 'carnival',
 'carolcopictures',
 'carouselpicturecompany',
 'carrace',
 'carrie',
 'carriefisher',
 'carsetonfire',
 'cartoon',
 'caruso',
 'caryelwes',
 'caseyaffleck',
 'caseysilverproductions',
 'casino',
 'castelaoproducciones',
 'castle',
 'castlerockentertainment',
 'castration',
 'cat',
 'cataclysm',
 'catastrophe',
 'cateblanchett',
 'catherinedeneuve',
 'catherinehardwicke',
 'catherinekeener',
 'catherinemccormack',
 'catherineo',
 'catherinezeta',
 'catholic',
 'catholicism',
 'catholicpriest',
 'cattleya',
 'cavalry',
 'cave',
 'cavemen',
 'cbsfilms',
 'cedrictheentertainer',
 'celadorfilms',
 'celebration',
 'celebrity',
 'cellphone',
 'celluloiddreams',
 'cemetery',
 'centrenationaldelacinématographie',
 'centropolisentertainment',
 'cgi',
 'chadmichaelmurray',
 'chainsaw',
 'chance',
 'channelfourfilms',
 'channingtatum',
 'chaos',
 'charlesmartinsmith',
 'charless',
 'charlieday',
 'charliehunnam',
 'charliesheen',
 'charlizetheron',
 'charlotterampling',
 'chase',
 'chasesandraces',
 'chazzpalminteri',
 'cheating',
 'cheatingwife',
 'cheerleader',
 'chef',
 'cherninentertainment',
 'chevychase',
 'cheyenneenterprises',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabuse',
 'childhero',
 'childhoodfriends',
 'childhoodmemory',
 'childhoodtrauma',
 'childprodigy',
 'children',
 'chimp',
 'china',
 'chinafilmco',
 'chinafilmgroupcorporation',
 'chipmunk',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chloësevigny',
 'chockstonepictures',
 'chocolate',
 'chosenone',
 'chowyun',
 'chriscolumbus',
 'chriscooper',
 'chrisevans',
 'chrishemsworth',
 'chrisklein',
 'chriso',
 'chrispine',
 'chrispratt',
 'chrisrock',
 'chrissanders',
 'christ',
 'christian',
 'christianbale',
 'christianfilm',
 'christianity',
 'christianslater',
 'christinaapplegate',
 'christinaricci',
 'christmas',
 'christmaseve',
 'christmasparty',
 'christmastree',
 'christopherguest',
 'christopherlambert',
 'christopherlloyd',
 'christophermiller',
 'christophernolan',
 'christopherplummer',
 'christopherreeve',
 'christopherwalken',
 'christophwaltz',
 'christucker',
 'chriswedge',
 'chrisweitz',
 'chu',
 'chuckrussell',
 'church',
 'churchservice',
 'cia',
 'ciaránhinds',
 'cigarettesmoking',
 'cigarsmoking',
 'cillianmurphy',
 'cinderella',
 'cinerentamedienbeteiligungskg',
 'cinergipicturesentertainment',
 'ciné',
 'cinécinéma',
 'circus',
 'city',
 'citylightfilms',
 'civilrights',
 'civilwar',
 'cjentertainment',
 'clairedanes',
 'claireforlani',
 'clarkgable',
 'class',
 'classdifferences',
 'classroom',
 'classsociety',
 'claudevandamme',
 'claustrophobia',
 'cleaduvall',
 'clerk',
 'climatechange',
 'climbing',
 'clinicaestetico',
 'clinteastwood',
 'cliveowen',
 'clone',
 'cloning',
 'closesttotheholeproductions',
 'cloudeightfilms',
 'clowning',
 'clumsyfellow',
 'cnc',
 'coach',
 'cobaltmediagroup',
 'cocaine',
 'code',
 'coffin',
 'cohabitant',
 'cohen',
 'coldwar',
 'colehauser',
 'colinfarrell',
 'colinfirth',
 'college',
 'colombia',
 'colonel',
 'colonialism',
 'colony',
 'colorforce',
 'columbiapictures',
 'columbiapicturescorporation',
 'coma',
 'combat',
 'comeback',
 'comedian',
 'comedy',
 'comedycentralfilms',
 'comet',
 'comicbook',
 'comingofage',
 'comingout',
 'commando',
 'commercial',
 'communism',
 'community',
 'company',
 'companyi',
 'companymedienkg',
 'competition',
 'computer',
 'computerhacker',
 'computerprogram',
 'computervirus',
 'concentrationcamp',
 'concert',
 'confession',
 'confidence',
 'congress',
 'conman',
 'connell',
 'connienielsen',
 'connor',
 'conradvernon',
 'conspiracy',
 'conspiracyofmurder',
 'constantinfilmproduktion',
 'contentfilm',
 'contractkiller',
 'contrafilm',
 'control',
 'conundrumentertainment',
 'convict',
 'cook',
 'cooking',
 'cop',
 'cops',
 'corbinbernsen',
 'coreyfeldman',
 'corporation',
 'corpse',
 'corruptcop',
 'corruption',
 'corusentertainment',
 'costasmandylor',
 'costume',
 'countdown',
 'countryhouse',
 'countrylife',
 'countrymusic',
 'countryside',
 'coupd',
 'courage',
 'court',
 'courtcase',
 'courteneycox',
 'courthouse',
 'courtroom',
 'cover',
 'coveredinvestigation',
 'cow',
 'cowardice',
 'cowardliness',
 'cowboy',
 'cptc',
 'crab',
 'craigbierko',
 'craiggillespie',
 'craigt',
 'crash',
 'cravefilms',
 'craven',
 'creature',
 'crime',
 'crimefamily',
 'crimefighter',
 'criminal',
 'criminalmastermind',
 'crisis',
 'crispinglover',
 'crocodile',
 'crookedlawyer',
 'cross',
 'crossbowproductions',
 'crosscreekpictures',
 'crossdressing',
 'crucifix',
 'crucifixion',
 'cruelandunusualfilms',
 'cruelty',
 'cruise',
 'crusade',
 'crush',
 'crying',
 'cryogenics',
 ...]

In [65]:
def get_recomendation(movies):
    #get index
    idx=df_content[df_content['title'] == movies].index[0]
    scores=sorted(list(enumerate(similarity[idx])), key=lambda x: x[1], reverse=True)
    recom=scores[1:11]
    movie_indices = [i[0] for i in recom]
    
    return df_content['title'].iloc[movie_indices]

In [57]:
get_recomendation('avatar')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [66]:
get_recomendation('Avatar')

47      Star Trek Into Darkness
2403                     Aliens
3730                      Cargo
838                      Alien³
1287         A Monster in Paris
282                   True Lies
25                      Titanic
1201                  Predators
61            Jupiter Ascending
184                        Home
Name: title, dtype: object

As we can see, the title of the movies 'must' exist on the given data. this is problematic as when we search for something on youtube, we do not know what data exist there.